In [3]:
import pandas as pd
import pathlib
import os

In [4]:
ROOT = pathlib.Path(os.getcwd()).parent
school_list_df = pd.read_csv(ROOT / 'opt' / 'schools.2022_2023.csv')

In [3]:
school_list_df.head()

,PA Code,NSC Code,NCES Code,AUN Code,ULCS Code,SRC School ID,School Name (ULCS),Publication Name,Publication Name Alpha List,Abbreviated Name,...,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12
0,3847.0,393345,4.218990e+11,126515001,1010,101,JOHN BARTRAM HIGH SCHOOL,John Bartram High School,"Bartram, John High School",Bartram,...,0,0,0,0,0,0,1,1,1,1
1,3860.0,393555,4.218990e+11,126515001,1020,102,WEST PHILADELPHIA HIGH SCHOOL,West Philadelphia High School,West Philadelphia High School,West Philadelphia,...,0,0,0,0,0,0,1,1,1,1
2,7903.0,392779,4.218990e+11,126515001,1030,103,HIGH SCHOOL OF THE FUTURE,High School of the Future,High School of the Future,HS of Future,...,0,0,0,0,0,0,1,1,1,1
3,7780.0,393347,4.218990e+11,126515001,1050,105,PAUL ROBESON HIGH SCHOOL,Paul Robeson High School for Human Services,"Robeson, Paul High School for Human Services",Robeson,...,0,0,0,0,0,0,1,1,1,1
4,7245.0,393944,4.218990e+11,126515001,1100,110,SAYRE HIGH SCHOOL,William L. Sayre High School,"Sayre, William L. High School",Sayre,...,0,0,0,0,0,0,1,1,1,1

In [4]:
school_list_df['School Name (ULCS)'].describe()

count                          325
unique                         325
top       JOHN BARTRAM HIGH SCHOOL
freq                             1
Name: School Name (ULCS), dtype: object

In [5]:
school_list_df['Publication Name'].describe()

count                          325
unique                         325
top       John Bartram High School
freq                             1
Name: Publication Name, dtype: object

In [6]:
school_list_df['Publication Name Alpha List'].describe()

count                           325
unique                          325
top       Bartram, John High School
freq                              1
Name: Publication Name Alpha List, dtype: object

In [8]:
school_names_df = school_list_df[['Publication Name', 'School Name (ULCS)']]

In [9]:
school_names_df['Upper Publication Name'] = school_names_df['Publication Name'].str.upper()

/tmp/ipykernel_600852/2246864262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_names_df['Upper Publication Name'] = school_names_df['Publication Name'].str.upper()

In [11]:
school_names_df.query('`Upper Publication Name` != `School Name (ULCS)`')

,Publication Name,School Name (ULCS),Upper Publication Name
3,Paul Robeson High School for Human Services,PAUL ROBESON HIGH SCHOOL,PAUL ROBESON HIGH SCHOOL FOR HUMAN SERVICES
4,William L. Sayre High School,SAYRE HIGH SCHOOL,WILLIAM L. SAYRE HIGH SCHOOL
5,William T. Tilden School,TILDEN MIDDLE SCHOOL,WILLIAM T. TILDEN SCHOOL
7,John Barry School,JOHN BARRY ELEMENTARY SCHOOL,JOHN BARRY SCHOOL
11,Sadie Alexander School,PENN ALEXANDER SCHOOL,SADIE ALEXANDER SCHOOL
...,...,...,...
314,Philadelphia Learning Academy South,PHILA LEARNING ACADEMY-SOUTH,PHILADELPHIA LEARNING ACADEMY SOUTH
315,Philadelphia Learning Academy North,PHILA LEARNING ACADEMY-NORTH,PHILADELPHIA LEARNING ACADEMY NORTH
319,John Hancock Demonstration School,HANCOCK DEMONSTRATION SCHOOL,JOHN HANCOCK DEMONSTRATION SCHOOL
321,One Bright Ray Mansion,ONE BRIGHT RAY MANSION ACCEL,ONE BRIGHT RAY MANSION
323,One Bright Ray - Simpson Campus,ONE BRIGHT RAY-SIMPSON CAMPUS,ONE BRIGHT RAY - SIMPSON CAMPUS

In [5]:
school_list_df.columns

Index(['PA Code', 'NSC Code', 'NCES Code', 'AUN Code', 'ULCS Code',
       'SRC School ID', 'School Name (ULCS)', 'Publication Name',
       'Publication Name Alpha List', 'Abbreviated Name', 'Year Opened',
       'School Level', 'Admission Type', 'Current Grade Span Served',
       'Grade Span at Scale', 'Phasing-In', 'Phasing-Out', 'Governance',
       'Management Organization', 'School Reporting Category',
       'Alternate Education Type', 'Major Intervention',
       'Major Intervention Year', 'Community School Cohort', 'CTE Status',
       'Title I Designation', 'Federal Accountability Designation',
       'City Council District', 'GPS Location', 'Multiple Addresses',
       'Street Address', 'City', 'State', 'Zip Code', 'Phone Number',
       'Fax Number', 'Website', 'School Leader Name', 'Learning Network',
       'Assistant Superintendent', 'FACE Liaison Name', 'FACE Liaison Email',
       'FACE Liaison Phone Number', 'Grade K', 'Grade 1', 'Grade 2', 'Grade 3',
       'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9',
       'Grade 10', 'Grade 11', 'Grade 12'],
      dtype='object')

In [8]:
school_list_df['GPS Location'].str.split(', ')

0      [39.92149737, -75.23405562]
1          [39.958110, -75.219654]
2       [39.97465766, -75.2047566]
3      [39.95679553, -75.20476311]
4      [39.95759354, -75.23859405]
                  ...
320    [39.96102159, -75.16264405]
321    [39.99074371, -75.18402464]
322    [39.99074371, -75.18402464]
323       [40.00528, -75.10560096]
324    [39.96102159, -75.16264405]
Name: GPS Location, Length: 325, dtype: object